{
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"bracketSameLine": true,
	"trailingComma": "none",
	"semi": false,
	"useTabs": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"printWidth": 200
			}
		}
	]
}
